.postTitle {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 2vh;
}

.postAuthor {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.postSummary{
    color: 	#777;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 2vh;
}

.postImg {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5vh;
}

.postContent {
    font-size: 1.2rem;
    margin-bottom: 5vh;
}